.card-back {
    position: absolute;
    width: 28rem;
    height: 15rem;
    background-image: url(/public/bg-card-back.png);
    left: 14rem;
    top: 19rem;
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    z-index: -1;
}

#cvc-number {
    margin-right: 3rem;
}

@media screen and (max-width: 1100px) {
    .card-back {
        width: 14rem;
        height: 8rem;
        background-size: cover;
        top: 5rem;
        left: 6.5rem;
        top: 1rem;
    }

    #cvc-number {
        margin-right: 1rem;
        font-size: 0.6rem;
    }
}