form {
    grid-column-start: 3;
    grid-column-end: 4;
    width: 375px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    margin-left: -2rem;
}

label {
    position: relative;
}

label span {
    text-transform: uppercase;
    font-size: 12px;
    color: hsl(278, 68%, 11%);
    font-weight: bold;
    letter-spacing: 0.1rem;
}

input {
    display: block;
    width: 100%;
    padding: 1rem;
    margin: 0.3rem 0;
    border: solid 1px hsl(270, 3%, 87%);
    border-radius: 7px;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}


input::placeholder {
    color: hsla(279, 6%, 55%, 0.5);
    font-size: 18px;
    text-transform: none;
}

.large-input-container {
    grid-column-start: 1;
    grid-column-end: 5;
}

.exp-input-container {
    grid-column-start: 1;
    grid-column-end: 3;
}

.exp-inputs::placeholder {
    text-transform: uppercase;
}

.exp-month-and-year {
    display: flex;
    gap: 0.5rem;
}

.cvc-input-container {
    grid-column-start: 3;
    grid-column-end: 5;
    margin-left: 1rem;
}

#submit-btn {
    grid-column-start: 1;
    grid-column-end: 5;
    text-transform: none;
    background-color: hsl(278, 68%, 11%);
    color: white;
    opacity: 1;
    cursor: pointer;
}

#submit-btn:hover {
    opacity: 0.8;
}

.sucess-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    padding: 1rem;
    margin-left: -2rem;
    gap: 1rem;
}

.success-image {
    width: 80px;
    height: 80px;
    background-image: url(/public/icon-complete.svg);
}

.sucess-container h2 {
    text-transform: uppercase;
    font-weight: normal;
}

.sucess-container button {
    background-color: hsl(278, 68%, 11%);
    color: white;
    opacity: 1;
    cursor: pointer;
    width: 350px;
    height: 50px;
    border-radius: 7px;
}

@media screen and (max-width: 1100px) {
    form{
        width: 350px;
        margin-top: 1rem;
        padding: 2rem;
    }

    .sucess-container {
        width: 350px;
        margin-top: 1rem;
        padding: 2rem;
    }
}